/* Web Page scss */

/**
 * main color map
 *
 * #fcbf49 - 「太陽橙」(Sunshine Orange)
 * #e5e5e5 - 「石板灰」(Slate Gray)
 * #8b8b93 - 「鋼鐵灰」(Steel Gray)
 * #606c38 - 「叢林綠」(Jungle Green)
 * #aabb9e - 「麥田綠」(Field Green)
 * #bfa27e - 「巧克力棕」(Chocolate Brown)
 * #a86532 - 「焦糖棕」(Caramel Brown)
 * #e2bcb7 - 「玫瑰粉」(Rose Pink)
 * #cca43b - 「赤褐色」(Russet Brown)
 * #b6a17c - 「沙漠黃」(Desert Yellow)
 * #993333 - (rustic red)
*/
$sunshine_orange: #fcbf49;
$slate_gray: #e5e5e5;
$steel_gray: #8b8b93;
$jungle_green: #606c38;
$field_green: #aabb9e;
$chocolate_brown: #bfa27e;
$caramel_brown: #a86532;
$rose_pink: #e2bcb7;
$russet_brown: #cca43b; 
$desert_yellow: #b6a17c; 
$rustic_red: #993333;

 /* Web page's body 
  */
body {
    background-color: $field_green;

    /* Web page's header */
    header {
      padding: 60px;
      text-align: center;
      background-color: #606c38;
      font-size: 30px;
    
      h1 {
        color: lightyellow;
      }
    }

    button {
      padding: 8px;
      margin: 4px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    
    button:hover {
        background-color: #ddd;
    }
    
    button:active {
        background-color: #aaa;
    }
  
  /* Page footer */
  footer {
    display: flex;
    text-align: center;
    background-color: #606c38;
    height: 150px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  
    /* Webpage copyright message in footer */
    copyright {
      text-align: center;
      display: block;
      color: #fff;
      width: -moz-fit-content;
      width: fit-content;
      background: black;
      border: 5px solid #586673;
      border-radius: 15px;
      padding: 5px;
      bottom: -10px;
    }
    
    follow-me {
      text-align: center;
      display: block;
      bottom: -20px;
      
      h2 {
          color: #8b8b93;
          padding-right: 20px;
          padding-bottom: 0px;
      }
    }
  }

      /* web page navigator bar */
  nav {
    padding: 10px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li {
        font-size: 24px;
        width: 150px;

        a:hover {
          color: $slate_gray;
        }
      }
    }
  }

  div#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;

    div {
      padding-right: 20px;
      padding-left: 20px;
    }

  }

  
  /* webpage artcle content */
  div#content {
    padding: 150px;

    #game {
      text-align: center;
    }

    .aichart {
      color: $rustic_red;
      font-size: 32px;
    }
    
    p {
      font-size: 28px;
      color: #e5e5e5;
      line-height: 1.6;
      margin-top: 30px;
      margin-left: 100px;
      margin-right: 100px;
    }
    
    H1 {
      font-size: 32px;
      font-weight: bold;
      color: #fcbf49;
    }

    H2 {
      font-size: 32px;
      font-weight: bold;
      color: #fcbf49;
    }

    H3 {
      color: $caramel_brown;
    }
    
    span {
      color: #94d2bd;
    }

    pre {
      background-color: $slate_gray;
      color: $russet_brown;
      font-size: 24px;
      padding: 15px;
    }

    ul {
      padding: 25px;
      background-color: $jungle_green;
      text-align: left;

      li {
        color: $sunshine_orange;
        font-size: 24px;
        
        strong {
           color: $rose_pink;
           font-weight: bold;
        }
      }
    }
  }
}
